@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
    margin: 0;
    font-family: Josefin Sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box; /* border dziecka zawiera się w borderze rodzica */
    font-family: "Rubik", sans-serif;
    
}

main {
    height: 100vh;
    width : 100vw; 
    background-color: #05570b;
    display: flex;
    flex-direction: row;
    align-items: start;
}

#left_Container {
    padding: 0px;
    width: 15%;
    min-height: 85vh;
    margin: 20px;
    border-radius: 20px;
    background-color:rgb(20, 46, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#buttonCC {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 20px;
    background-color: rgb(20, 46, 25);
    border: 2px solid black;
    border-radius: 5px;
    border-color: orangered;
    color: orangered;
}

.heder {
    color: yellow;
    text-align: center;
    
}
.rightItem {
    color: red;
    margin: 20px;
}

#center_Container {
    width: 70%;
    min-height: 85vh;
    margin: 20px;
    border-radius: 20px;
    background-color:rgb(20, 46, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#right_Container {
    width: 15%;
    min-height: 85vh;
    margin: 20px;
    border-radius: 20px;
    background-color:rgb(20, 46, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons_Container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button {
    background-color: #236128;
    width: 150px;
    height: 50px;
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
}

.button:hover {
    background-color: #162217;
}

.details {
    background-color: #bbd82a;
    border: none;
    border-radius: 4px;
}

.closeDetails {
    background-color: #bbd82a;
    border: none;
    border-radius: 4px;
}

.delete {
    background-color: orangered;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td {
    border: 1px solid  #236128;
    text-align: center;
    overflow: hidden;
    min-width: 100px;
    max-width: 200px;
}
#panel_Container{
    display: flex;
    align-items: baseline;
}
.pagination {
    margin-bottom: 20px;
    background-color: rgb(20, 223, 223);
    margin: 20px;
    height: 30px;
    width: 220px;
    font-weight: 600;
    border-radius: 5px;
}

.pagination:hover {
    background-color: rgb(16, 16, 136);
}
.paginationInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(20, 223, 223);
    margin: 20px;
    height: 40px;
    width: 40px;
    font-weight: 600;
    border-radius: 5px;
    color: orangered;
    font-size: 24px;
}

.ID {
    color: #bbd82a;
}

.modal {
    display: flex;
    padding: 20px;
    width: 500px;
    height: 100px;
    border: 1px solid black;
    position: fixed;
    left: 40%;
    top: 40%;
    background-color: rgb(255, 69, 0);
    color: black;
    font-weight: 600;
    border-radius: 5px;
    
}

.hidden {
    display: none;
}
.yes {
    background-color: red;
    color: white;
    width: 60px;
    border-radius: 7px;
}
.no {
    background-color: green;
    color: white;
    margin-left: 10px;
    width: 60px;
    border-radius: 7px;
}
.detailsBox {
    max-height: 60vh;
    display: block;
    background-color: rgb(27, 179, 60);
    border-radius: 7px;
    max-width: 300px;
    overflow: hidden;
}

#displayElements {
    border-radius: 7px;
    display: flex;
    flex-direction: row;
}

.table {
    border-radius: 10px;
}

.deleteChecked {
    background-color: orange;
    width: 200px;
    height: 40px;
    border-radius: 6px;
    color: rgb(160, 56, 30);
    font-weight: 600;
}

.function_Container{
    display: flex;
    justify-content: end;
    width: 80%;
}

.powitalny {
    color: red;
    font-size: 64px;
    font-family: "StarWars";
    font-weight: 700;
    animation: dynamicColor 3s infinite;
}

@keyframes dynamicColor {
    0% { color:rgb(217, 164, 38); }
    25% { color: greenyellow }
    50% { color: green; }
    75% { color: greenyellow }
    100% { color:rgb(180, 156, 48); }
  }
  
  